* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

h2 {
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    border-bottom: thin solid gray;
    font-weight: normal;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 16px;
}

h2 a {
    text-decoration: none;
    color: #444;
    font-size: 24px;
}

.me {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #324550;
    color: white;
    height: 48px;
}

header p {
    font-size: 24px;
    padding-left: 40px;
}

header a {
    color: white;
    text-decoration: none;
}

#c96 h2, #c96 a {
    text-decoration: none;
    color: #022;
}

#c96 h2 {
    border-left: medium solid #022;
    transition-duration: 0.5s;
    
}

#c96 h2:hover {
    border-left: 16px solid #022;
}

#aboutme {
    background-color: white;
}

h2 {
    padding: 10px;
    padding-left: 5%;
}

#aboutme h3 {
    
    padding-left: 7%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.info p {
    text-align: center;
    line-height: 20px;
}

#links {
    background-color: #fafaff;
}

.information-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.activities-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity {
    width: 600px;
    text-align: center;
}


.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: thin solid gray;
    border-radius: 12px;
    background-color: #f7f7fa;

    font-size: 16px;
    margin-bottom: 20px;
    width: 240px;
    height: 120px;

    transition-duration: 0.3s;
}

.link:hover {
    border-radius: 24px;
    background-color: #fefeff;
    opacity: 0.7;
}

.link a {
    color: #3f80a0;
    text-decoration: none;
}

.link p {
    margin: 8px 0;
}
